.blogs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background: #3D9970;
   gap: 30px;
}
.blogs-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-box-container{
    display: flex;
    justify-content: space-between;
  
  padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-image{
    height: 50%;
    width: 100%;
    background-color: red;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.blog-image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.keyword{
    padding:0px 10px 0px 10px;
    font-family: DM Sans;
font-size: 16px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.5px;
text-align: left;

}
.blog-title{
    padding:0px 10px 0px 10px;
font-family: DM Sans;
font-size: 28px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.blog-para{
    padding:0px 10px 10px 10px;
font-family: Hind Vadodara;
font-size: 15px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.blog-content{
    height: 50%;
    width: 100%;
    background: #FFD700;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.blog{
    width: 320px;
height:420px;
padding: 10px;
border-radius: 17px;
background-color: white;

}
.blog-heading{
font-family: Yantramanav;
font-size: 65px;
font-weight: 700;
line-height: 125px;
letter-spacing: 0em;
text-align: center;
color: white;
}
.Explore-button{
    width: 200px;
height: 50px;

border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
background-color: white;
font-family: Hind Vadodara;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;


}