
.Nav{
padding: 20px;
padding-right: 40px;
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
width: 100%;
background: #3D9970;
color: white;
z-index: 999;
}

.menu{
    color: white;
    display: flex;
    justify-content:center;
    
    gap: 40px;
    align-items: center; 
    font-family: Yantramanav;
font-size: 20px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;

}
.enroll{
    width:149px;
height:50px;
margin-right: 25px;
background-color: white;
color: #001F3F;
border: .1rem solid #001F3F;
box-shadow: 0 3px 0 0 #001F3F;
padding: 10px, 27px, 10px, 27px;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
font-family: Hind Vadodara;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

@media only screen and (max-width: 800px) {
    .mobile-contact{
        display: flex !important;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .color-box{
        display: none !important;
    }
    .menu{
      display: none;
    }
    .Image-container2{
        display: none;
    }
    .content3-container{
        width: 80vw !important;
     
    }
    .play-video-content1{
        font-size: 20px !important;
    }
    .play-video-content2{
        font-size: 10px !important;
    }
    .play-video-container{
        top: 15px !important;
    left: 15px !important;
    }
    .play-video-container1{
        top: 15px !important;
        right: 15px !important;
    }
    .play-video,.play-video1{
        height: 135px !important;
    }
    .play-circle1{
        height: 125px !important;
        width: 125px !important;
        top: 5px !important;
       left: 5px !important; 
    }
    .play-circle{
        height: 125px !important;
        width: 125px !important;
        top: 5px !important;
        right: 5px !important;
    }
    .Image3{
        display: none;
    }
    .top{
        flex-direction: column-reverse;
    }
    .Top-footer{
        left: 0px !important;
        line-height: 30px !important;
        font-size: 20px !important;
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px !important;
    }
    .play-icon{
        width: 40px !important;
        height: 40px !important;
    }
    .Image-container1{
        height:210px;
        width: 100% !important;
    }
    .para{
        width: 100% !important;
        margin: 0px 0px 20px 0px;
        font-size: 12px;
    }
    .point-Image{
        display: none !important;
    }
    .blog-heading{
        font-size: 35px !important;
        line-height: 50px !important;
    }
    .blogs-header {
        flex-direction: column;
        gap: 10px;
    }
    .Contact-form {
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        height:auto !important;
        position: relative !important;
     
    }
    .Contact{
        display: none !important;
    }
    .para-container {
     left: 0px !important;
        padding: 10px;
       width: 95% !important;
    }
    .Hero-header{
        left: 0px !important;
        padding-right: 0px !important;
    }
    .hero{
        height: 90vh !important;
    }
    .Hero-header-container{
        height: auto !important;
    }
    .Hero-header-content{
        font-size:40px !important;
       line-height: 45px !important;
       padding: 10px;
    }

  }